@model Proyecto_Order2Go.Models.Compras
@using Proyecto_Order2Go.Helpers
@{
    ViewData["Title"] = "Compras en Factura";
}
<h2 class="text-center"> Factura</h2>
<div class="row justify-content-center align-items-center m-3">
    <a class="btn btn-primary" asp-action="EnviarCorreoFactura" asp-controller="Usuario" asp-route-id="@SessionHelpers.GetNameIdentifier(User)">Enviar Factura</a>
    @if (ViewBag.EmailCorrecto != null)
    {
        <label class="bg-success text-center text-white">@ViewBag.EmailCorrecto</label>
    }
</div>
<div class="container-fluid">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <td>Número Factura</td>
                <td>Fecha de Compra</td>
                <td>Comercio</td>
                <td>Producto</td>
                <td>Cantidad</td>
                <td>Precio</td>
                <td>Total de compra</td>
                <td>Opción</td>
            </tr>
        </thead>
        <tbody>

            @foreach (Compras item in ViewBag.Compras)
            {
                <tr>
                    <td>@item.CodigoFactura</td>
                    <td>@item.Fecha</td>
                    <td>@item.Comercio.Nombre</td>
                    <td>@item.Productos.Nombre</td>
                    <td>@item.CantidadProductos</td>
                    <td>@item.Precio</td>
                    <td>@(item.CantidadProductos * item.Precio)</td>
                    <td><a class="nav-link" asp-action="EliminarProductoLista" asp-controller="Usuario" asp-route-id="@item.IdCompra">Eliminar</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>